
<div class="buyproduct">
    <div class="buyproduct_image">
        <img class="buyproduct_image--picture"src="{{productData.productImage}}" alt="product-image"/>
    </div>
    <form [formGroup]="buyproductForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="buyproduct_data">
        
        <h2 class="buyproduct_data_head">{{productData.productName}}</h2>
        <h4 class="buyproduct_data_price">Price:&#x20B9;{{productData.productCost}}</h4>

        <h5 class="buyproduct_data_description">{{productData.productDescription}}</h5>
    
      
            <select 
            required
            class="form-select form-select-lg mb-3 selects buyproduct_data_select"
            aria-label=".form-select-lg example" 
            name="emi_option" 
            formControlName="emi_option"
            [class.is-invalid]="buyproductForm.get('emi_option')!.invalid && buyproductForm.get('emi_option')!.touched"
            >
                <option value="" disabled selected>EMI Option</option>
                <option value="3">Express</option>
                <option value="10">Relaxed</option>
                <option value="5">Hyper</option>
              </select>
              <div class="center">
                <small [class.d-none]="buyproductForm.get('emi_option')!.valid||buyproductForm.get('emi_option')!.untouched" class="text-danger" >Emi Option Required</small>
            </div>
       

              <select

              required 
              class="form-select form-select-lg mb-3 selects buyproduct_data_select" 
              aria-label=".form-select-lg example"
              name="tenure_option" 
              formControlName="tenure_option"
              [class.is-invalid]="buyproductForm.get('tenure_option')!.invalid && buyproductForm.get('tenure_option')!.touched"
              
              >
                <option value="" disabled selected>Tenure Period</option>
                <option value="3">3 Months</option>
                <option value="6">6 Months</option>
                <option value="9">9 Months</option>
                <option value="12">12 Months</option>
              </select>
              <div class="center">
                <small [class.d-none]="buyproductForm.get('tenure_option')!.valid||buyproductForm.get('tenure_option')!.untouched" class="text-danger" >Tenure Option Required</small>
            </div>
  

        <button type="submit"  [disabled]="!buyproductForm.valid"  class="btn btn-primary btn-submit btn-lg">Pay Now</button>
    
    </div>
</form>

   

</div>

