
<button type="button" (click)="handle_goback()" class="btn btn-secondary">Back</button>
<div class="cards">
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Card Number:{{card.cardNo}}</li>
      <li class="list-group-item">Valid till:{{card.validity}}</li>
      <li class="list-group-item">Card Type:{{card.cardType}}</li>
    </ul>
    <div  class="card-footer">
      ACTIVATED
    </div>
    
  </div>
</div>

    <p>TOTAL CREDIT: &#x20B9;{{ card.total }}</p>
    <p>CREDIT USED:&#x20B9;{{card.total-card.balance}}</p>
    <p>REMAINING CREDIT:&#x20B9;{{card.balance}}</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">PRODUCT</th>
        <th scope="col">DATE</th>
        <th scope="col">AMOUNT PAID</th>
      </tr>
    </thead>
    <tbody>
      {{purchasedProducts}}
      <tr *ngFor="let product of purchasedProducts">
        <td>{{product.productName}}</td>
        <td>{{product.orderDate.slice(0,10)}}</td>
        <td>{{product.paidAmount}}</td>
      </tr>
    </tbody>
  </table>