<div id="features">
<div class="container text-center py-5">
  <h1 class="display-4 pricing_header"> EMI Schemes </h1>
  <p class="lead"> Get Started With Your No Cost Emi Card Instantly</p>
</div>


<div class="container text-center">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4  ">
      <div class="card  cards">
        <div class="card-header header">
          <h4>Express</h4>
        </div>
        <div class="card-body">
          <div class="card-body">
            <h1 class="my-0 font-weight-normal">3% Off<small class="text-muted">/per purchase</small></h1>
            <ul class="list-unstyled mt-3 details">
              <li class="details_item"> Available for Titanium & Gold cards</li>
              <li class="details_item"> Works for 6 and 12 months purchase tenure</li>
              <li class="details_item"> 3% off on each product purchase</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-4 ">
    <div class="card cards relaxed">
        <div class="card-header header">
          <h4>Relaxed</h4>
        </div>
        <div class="card-body">
          <div class="card-body">
            <h1 class="my-0 font-weight-normal">10% Off<small class="text-muted">/per purchase</small></h1>
            <ul class="list-unstyled mt-3 details">
              <li class="details_item"> Available only for Titanium cards</li>
              <li class="details_item"> Works only for 12 months purchase tenure</li>
              <li class="details_item"> 10% off on each product purchase</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card cards">
        <div class="card-header header">
          <h4>Hyper</h4>
        </div>
        <div class="card-body">
          <div class="card-body">
            <h1 class="my-0 font-weight-normal">5% Off<small class="text-muted">/per purchase</small></h1>
            <ul class="list-unstyled mt-3 details">
              <li class="details_item"> Available for Titanium & Gold cards</li>
              <li class="details_item"> Works for 6 and 12 months tenure</li>
              <li class="details_item"> 5% off on each product purchase</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
</div>



   


