<div class="product">

<div *ngFor="let product of productList" >
    <div class="card" style="width: 18rem;">
        <img src="{{product.productImage}}" class="card-img-top" alt="product image"/>
        <div class="card-body">
          <h3 class="card-title">{{product.productName}}</h3>
          <div class="same-row">
          <h5 class="card-title">Price:</h5>
          <p class="card-text">&#x20B9;{{product.productCost}} </p>
          </div>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
</div>

  
</div>

<!-- {{productList|json}} -->

