
<!-- Modal -->
<div class="modal fade" id="forgotPassword" data-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Forgot Password? </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter Email Address" [(ngModel)]="email"/>
            <span class="input-group-btn"><a title="enter OTP" data-toggle="modal" data-target="#enterOTP" data-dismiss="modal">
              <button class="btn btn-primary" type="button" (click)="sendOTPActionButton()" >Send OTP</button></a></span>
          </div>
        </div>
        <div class="form-group">
          <a href="#" title="Login" data-toggle="modal" data-target="#loginPage" data-dismiss="modal">Login</a><br>
          Not A Member? <a href="#" title="Sign Up" data-toggle="modal" data-target="#registerpage" data-dismiss="modal">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Enter the OTP -->

<div class="modal fade" id="enterOTP" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <!-- [attr.data-target]="wrongOTP ? '#changePassword' : '#enterOTP'" -->
            <input type="number" class="form-control" placeholder="Enter OTP" required maxlength="8" [(ngModel)]="otp"/>
            <span class="input-group-btn" ><a data-target="#changePassword" data-toggle="modal"  data-dismiss="modal">
              <button class="btn btn-primary" type="button" (click)="verifyOTP()">Verify</button></a></span>
          </div>
          <div *ngIf="wrongOTP" class="error">
            <div class="text-danger">Invalid OTP.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- change password -->
<div class="modal fade" id="changePassword" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter New Password </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]="new_password"  placeholder="New Password" />
          </div>
          <div class="input-group">
            <input type="password" class="form-control" [(ngModel)]="confirm_password" placeholder="Confirm New Password" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updatePassword()">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
