<!-- Button trigger modal -->
<button style="width:100px;" type="button" class="btn btn-outline-light btn-style" data-toggle="modal"
  data-target="#registerpage">
  <!--change data target here-->
  Register
</button>

<!-- Modal -->
<div class="modal fade" id="registerpage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-center ">Register</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="registrationform">
        <div class="modal-body">
          <div class="form-group">
            <div class="mb-3 input-group">
              <label class="input-group-text" for="name">Name</label>
              <input type="text" id="Name" class="form-control" placeholder="Enter your Name" name="name"
                formControlName="Name" [class.is-invalid]="f.Name.errors?.invalid && f.Name.errors?.touched">
            </div>
          </div>
          <div
            *ngIf="registrationform.get('Name')?.errors?.required && (registrationform.get('Name')?.dirty || registrationform.get('Name')?.touched)"
            class="alert alert-danger">
            Name is required.
          </div><br>

          <div class="input-group">
            <label class="input-group-text" for="phoneno">Phone Number</label>
            <input id="phoneno" type="number" class="form-control" aria-describedby="basic-addon2"
              formControlName="Phone_no" placeholder="Enter your phone number" name="phoneno"
              [class.invalid]="registrationform.get('Phone_no')?.invalid && registrationform.get('Phone_no')?.touched">
          </div>

          <div>
            <div *ngIf="registrationform.get('Phone_no')?.errors?.required && registrationform.get('Phone_no')?.touched" class="alert alert-danger"> Phone is required</div>
            <div *ngIf="registrationform.get('Phone_no')?.errors?.minlength" class="alert alert-danger">Minimum length of password is 8.</div>
            <div *ngIf="registrationform.get('Phone_no')?.errors?.maxlength" class="alert alert-danger">Maximum length of password is 12.</div>
            <div *ngIf="registrationform.get('Phone_no')?.errors?.pattern" class="alert alert-danger">Invalid Phone Number</div>
          </div>

          <br><br>
          <div class="input-group">
            <label class="input-group-text" for="email">Email</label><input id="email" type="email" class="form-control"
              aria-describedby="basic-addon2" formControlName="Email" placeholder="Enter your Email id" name="email"
              [class.invalid]="registrationform.get('Email')?.invalid && registrationform.get('Email')?.touched">
          </div>
          <div >
            <div *ngIf="registrationform.get('Email')?.errors?.required && registrationform.get('Email')?.touched" class="alert alert-danger">Email is not Valid</div>
            <a *ngIf="registrationform.get('Email')?.errors?.pattern">Invalid Email</a>
          </div>

          <br><br>

          <div class="input-group">
            <label class="input-group-text" for="address">Address</label><input id="address" type="text"
              class="form-control" aria-describedby="basic-addon2" formControlName="Address"
              placeholder="Enter your Address" name="address">
          </div>

          <div *ngIf="registrationform.get('Address')?.errors?.required && (registrationform.get('Address')?.dirty ||
                registrationform.get('Address')?.touched)" class="alert alert-danger">
            Address is required.
          </div>

          <br><br>

          <div class="input-group">
            <label class="input-group-text" for="username">UserName</label>
            <input id="username" type="text" class="form-control" aria-describedby="basic-addon2"
              formControlName="username" placeholder="Enter your Username" name="username">
          </div>

          <div *ngIf="registrationform.get('username')?.errors?.required && (registrationform.get('username')?.dirty ||
                registrationform.get('username')?.touched)" class="alert alert-danger">
            username is required.
          </div>

          <br><br>

          <div class="input-group">
            <label class="input-group-text" for="password">Password</label>
            <input id="password" type="password" class="form-control" aria-describedby="basic-addon2"
              formControlName="password" placeholder="Enter your password" name="password"
              [class.invalid]="registrationform.get('password')?.invalid && registrationform.get('password')?.touched">
          </div>

          <div >
            <div *ngIf="registrationform.get('password')?.errors?.required && registrationform.get('password')?.touched" class="alert alert-danger"> Password is required</div>
            <div *ngIf="registrationform.get('password')?.errors?.minlength" class="alert alert-danger">Minimum length of password is 8.</div>
            <div *ngIf="registrationform.get('password')?.errors?.maxlength" class="alert alert-danger">Maximum length of password is 20.</div>
          </div>

          <br><br>

          


          

          <br><br>

          <div class="input-group mb-3">
            <label class="input-group-text" for="cardType">CardType</label>
            <select placeholder="select Your card type" id="cardType" name="cardType" formControlName="cardType"
              class="form-control">
              <option value="" disabled selected>select Your card type</option>
              <option>Gold</option>
              <option>Titanium</option>
            </select>
            <div *ngIf="registrationform.get('cardType')?.errors?.required && (registrationform.get('cardType')?.dirty ||
                registrationform.get('cardType')?.touched)" class="alert alert-danger">
              card type is required.
            </div>
          </div>
          <br><br>

          <div class="input-group ">
            <label class="input-group-text" for="bank">Bank</label>
            <select placeholder="select bank" id="bank" name="bank" formControlName="bank" class="form-control">
              <option value="" disabled selected>Select Bank</option>
              <option>IDBI</option>
              <option>ICICI</option>
              <option>State Bank of India</option>
              <option>Jammu and Kashmir Bank</option>
              <option>Karnataka Bank Ltd</option>
              <option>HDFC Bank</option>
              <option>Axis Bank</option>
            </select>
            <div *ngIf="registrationform.get('bank')?.errors?.required && (registrationform.get('bank')?.dirty ||
                registrationform.get('bank')?.touched)" class="alert alert-danger">
              Bank is required.
            </div>
          </div>

          <br><br>


          <div class="input-group">
            <label class="input-group-text" for="acctno">Account Number</label><input id="accntno" type="number"
              class="form-control" aria-describedby="basic-addon2" formControlName="accountno"
              placeholder="Enter Account number" name="accntno"
              [class.invalid]="registrationform.get('accountno')?.invalid && registrationform.get('accountno')?.touched"
              >
          </div>

          <div >
            <div *ngIf="registrationform.get('accountno')?.errors?.required && registrationform.get('accountno')?.touched" class="alert alert-danger"> Account number is required</div>
            <div *ngIf="registrationform.get('accountno')?.errors?.minlength" class="alert alert-danger">Invalid account number</div>
            <div *ngIf="registrationform.get('accountno')?.errors?.maxlength"  class="alert alert-danger">Invalid account number</div>
          </div>

          <br><br>


          <div class="input-group ">
            <label class="input-group-text" for="ifsc">IFSC code:</label><input id="ifsc" type="text"
              class="form-control" aria-describedby="basic-addon2" formControlName="ifsc" placeholder="Enter IFSC code"
              name="ifsc">
          </div>
          <div >
            <div *ngIf="registrationform.get('ifsc')?.errors?.required && registrationform.get('accountno')?.touched" class="alert alert-danger" > IFSC code is required</div>
            <div *ngIf="registrationform.get('ifsc')?.errors?.pattern" class="alert alert-danger">Invalid IFSC code</div>
          </div>
        
        <br><br>

        <h2>Your Payment Information</h2><br><br>
        <div class="input-group">
          <label class="input-group-text" for="owner">Owner</label><input id="owner" type="text" class="form-control"
            aria-describedby="basic-addon2" formControlName="owner" placeholder="Enter Owner" name="Owner">
        </div>

        <div *ngIf="registrationform.get('owner')?.errors?.required && (registrationform.get('owner')?.dirty ||
                 registrationform.get('owner')?.touched)" class="alert alert-danger">
          Owner is required.
        </div><br><br>
      

        <div class="input-group">
          <label class="input-group-text" for="cvv">CVV</label><input id="cvv" type="number" class="form-control"
            aria-describedby="basic-addon2" formControlName="cvv" placeholder="Enter CVV" name="cvv">
        </div>

        <div *ngIf="registrationform.get('cvv')?.errors?.required && (registrationform.get('cvv')?.dirty ||
                   registrationform.get('cvv')?.touched)" class="alert alert-danger">
          CVV is required.
        </div>

        <br><br>

        <div class="input-group">
          <label class="input-group-text" for="cardnumber">Card Number</label><input id="cardnumber" type="number"
            class="form-control" aria-describedby="basic-addon2" formControlName="cardnumber"
            placeholder="Enter Card number" name="cardnumber">
        </div>

        <div *ngIf="registrationform.get('cardnumber')?.errors?.required && (registrationform.get('cardnumber')?.dirty ||
                     registrationform.get('cardnumber')?.touched)" class="alert alert-danger">
          Card Number is required.
        </div>

        <br><br>

        <div class="input-group">
          <label class="input-group-text" for="expiry">Expiry Date</label><input id="expiry" type="date"
            class="form-control" aria-describedby="basic-addon2" formControlName="expiry" placeholder="Enter Date"
            name="expiry">
        </div>
        <div *ngIf="registrationform.get('expiry')?.errors?.required && (registrationform.get('expiry')?.dirty ||
                       registrationform.get('expiry')?.touched)" class="alert alert-danger">
          Enter Date.
        </div><br><br>
      
        <div>
          <input type="file" name="payslip" ng2FileSelect [uploader]="uploader" >
      
      <button type="button" class="btn btn-success btn-s" 
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length" >
            Upload Your Pay Slip
      </button>
          </div>

        <div class="form-group">
          <button type="button" data-dismiss="modal" class="btn btn-link" data-toggle="modal" data-target="#loginPage">
            <!--change data target here-->
            Already Registered?
          </button>
        </div>
      </div>
        <div class="modal-footer" >
          <div class="form-group" >
            <button type="submit" class="btn btn-primary" (click)="submit()" data-dismiss="modal" data-toggle="modal" data-target="#loginPage">Register</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"[disabled]="!registrationform.valid">Cancel</button><br><br>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


