<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginPage">
  <!--change data target here-->
  Login
</button>


<!-- Modal -->
<div #loginPage class="modal fade" id="loginPage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-title text-center ">Login</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" [formGroup]="loginForm">
        <div class="modal-body">
          <div class="form-outline">
            <div class="form-group">
              <input type="text" id="username" class="form-control" placeholder="Username" name="username"
                formControlName="username" required>
              <div
                *ngIf="formValidation.username?.errors?.required && (formValidation.username.dirty || formValidation.username.touched)"
                class="alert alert-danger">
                Username cannot be Empty.
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input id="password" [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                  formControlName="password" placeholder="Password" name="password" minlength="8" required />
                <span class="input-group-btn"><button class="btn btn-outline-secondary"
                    (click)="toggleFieldTextType()">{{fieldTextType ?
                    'Hide Password' : 'Show Password'}}</button></span>
              </div>
              <div *ngIf="(formValidation.password.dirty || formValidation.password.touched)"
                class="alert alert-danger">
                <a *ngIf="formValidation.password?.errors?.required"> Password is not Valid</a>
                <a *ngIf="formValidation.password?.errors?.minlength">Minimum length of password is 8.</a>
                <a *ngIf="formValidation.password?.errors?.maxlength">Maximum length of password is 12.</a>
              </div>
            </div>
            <div class="form-group">
              <a href="" title="Forgot Password" data-toggle="modal" data-dismiss="modal"
                data-target="#forgotPassword">Forgot
                Password?</a><br>
              Not a member yet? <a href="" title="Become A Member." data-target="#registerpage"> Sign Up</a>
            </div>
          </div>
          <div *ngIf="invalidLogin" class="error">
            <div class="text-danger">Invalid credentials.</div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-light float-left "><a title="Admin Login" data-toggle="modal" data-dismiss="modal"
              data-target="#adminLogin">Admin</a></button>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"  (click)="onSubmit()">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
