<footer id="footer" class="footer">

    <div class="footer__logo">
        <!-- <div class="footer__logo--img"></div> -->
        <h1 class="footer__logo--title"> <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg> BuyIt  </h1>
        
    </div>
    <div class="footer__icons">
        <a href="#" class="fa fa-facebook footer__icons--icon"></a>
        <a href="#" class="fa fa-twitter footer__icons--icon"></a>
        <a href="#" class="fa fa-google footer__icons--icon"></a>
        <a href="#" class="fa fa-instagram footer__icons--icon"></a>
         <a href="#" class="fa fa-pinterest footer__icons--icon"></a> 
    </div>
           <div class="footer__content">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link"> Company </a></li>
                    <li class="footer__item"><a href="#" class="footer__link"> Privacy policy </a></li>
                    <li class="footer__item"><a href="#" class="footer__link"> Terms </a></li>
                </ul>
            </div>

        <div>
            <p class="footer__copyright">
                Handcrafted by <a href="https://github.com/aravind4799/Angular-Spring" class="footer__link">Aravind,Adnan,Riya,Pavithra & Arshiya</a>
                <br>
                Copyright &copy; 2021
            </p>
        </div>
    </div>

</footer>
