$color-grey-light-1:#f7f7f7;
$color-grey:#777;
$color-white:#fff;
$color-black:#000;
$color-primary: #55c57a;
.footer{
    background-color: #333;
    padding:20px 20px;
    font-size: 1.4rem;
    display:flex;
    flex-direction: column;
    &__logo{
        // text-align: center;
        position: relative;
        left:650px;
        margin-bottom: 6rem;
        &--title{
            font-family: "Oswald",sans-serif;
            font-weight: 600;
            color:$color-white;
        }

    }
    &__icons{
        display:flex;
        flex-direction: row;
        justify-content:center;  
        &--icon{
            margin-right:40px;

            color: $color-primary;
            font-size: 40px;
            &:hover{
               transform: scale(1.1);
               color:$color-white;
            }
        }
    }
    &__content{
        display: flex;
        justify-content:space-between;
    }

    &__logo{
        width:15rem;
        height:auto;
    }

    &__navigation{
        border-top: 2px solid #777;
        display:inline-block;
    }

    &__list{
        margin-top: 1rem;
    }

    &__item{
        display:inline-block;

        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__link{

        &:link,
        &:active,
        &:visited{
            text-decoration: none;
            // text-transform: uppercase;
            font-family: "Oswald",sans-serif;
            color:$color-grey-light-1;
            background-color: #333;
            display:inline-block;
            font-weight: 500;
            transition:all .2s;
        }

        &:hover,
        &:active{
            color:$color-primary;
            transform: rotate(3deg) scale(1.2);
            box-shadow: 0 1rem 2rem rgba($color-black,0.4);
        }
    }

    &__copyright{
        color:$color-primary;
        border-top:1px solid #777 ;
        display:inline-block;
        text-align: center;
        font-weight: 500;
        padding:1rem;

    }

}