

<div class="container-lg">
        <div class="text-center">
            <h2>Add New Products</h2>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                <form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
                    
                    <div class="mb-3 input-group">
                        <label class="input-group-text" for="name">Product Name</label>
                        <input 
                        form
                        type="text" 
                        class="form-control" 
                        id="name" 
                        placeholder="e.g One Plus 9R"
                        formControlName="productName"
                        [class.is-invalid]="productForm.get('productName')!.invalid && productForm.get('productName')!.touched"
                        >
                    </div>
                    <div class="center">
                        <small [class.d-none]="productForm.get('productName')!.valid||productForm.get('productName')!.untouched" class="text-danger" >Product Name Required</small>
                    </div>
                    
                    <div class="mb-3 input-group">
                    <label class="input-group-text" for="cost">Product Cost</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    id="cost" 
                    placeholder="e.g &#x20B9;40000"
                    formControlName="productCost"
                    [class.is-invalid]="productForm.get('productCost')!.invalid && productForm.get('productCost')!.touched"
                    >
                    </div>
                    <div class="center">
                        <small [class.d-none]="productForm.get('productCost')!.valid||productForm.get('productCost')!.untouched" class="text-danger" >Product Cost Required</small>
                    </div>

                    <div class="mb-3 input-group">
                    <label class="input-group-text" for="img">Product Image</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="img" 
                    placeholder="Required image URL"
                    formControlName="productImage"
                    [class.is-invalid]="productForm.get('productImage')!.invalid && productForm.get('productImage')!.touched"
                    >
                    </div>
                    <div class="center">
                        <small [class.d-none]="productForm.get('productImage')!.valid||productForm.get('productImage')!.untouched" class="text-danger" >Product Image Required</small>
                    </div>

                    <div class="form-floating mb-3 mt-5">
                    <textarea 
                    type="text" 
                    class="form-control" 
                    style="height:100px;" 
                    id="desc" 
                    placeholder="Description....."
                    formControlName="productDescription"
                    [class.is-invalid]="productForm.get('productDescription')!.invalid && productForm.get('productDescription')!.touched"
                    ></textarea>
                    <label class="form-label" for="desc">Product Description</label>
                    </div>

                    <div class="center">
                        <small [class.d-none]="productForm.get('productDescription')!.valid||productForm.get('productDescription')!.untouched" class="text-danger" >Product Description Required</small>
                    </div>

                    <div class="mb-4 text-center">
                        <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary"> Add Product</button>
                    </div>

                </form>
            </div>

        </div>



   

</div>
